* {
    box-sizing: border-box;
  }
  
  /* style the container */
  .container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
  }
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  h4 {
    display: flex;
    flex-direction: row;
  }
  
  h4:before,
  h4:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #000;
    margin: auto;
  }
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3b5998;
    color: white;
    text-align: center;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    text-align: center;
  }
  .reg-text {
    text-align: left;
  }
  /* style the submit button */
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col {
    float: center;
    width: 33.33%;
    margin: auto;
    padding: 0 50px;
    margin-top: 0;
  }
  .col-left {
    color: black;
    text-align: left;
    display: inline;
  }
  .col-right {
    color: black;
    text-align: right;
  }
  .text-head {
    text-align: center;
    color: white;
    background-color: #3b5998;
  }
  .text-epam {
    text-align: center;
    color: white;
    background-color: yellowgreen;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 1000px) {
    .col {
      width: 100%;
    }
  }